<div class="container">
    <div class="row">
        <h1 class="title">Liste des pokémons</h1>
    </div>
    <div class="row">
        <app-pokemon-search></app-pokemon-search>
    </div>
    <div class="row">
        <form class="formdesign">
            <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
                <div (click)="goToPokemon(pokemon)" class="card horizontal" pkmnBorderCard>
                    <div class="card-image">
                        <img [src]="pokemon.picture"/>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>{{ pokemon.name }}</p>
                            <p>Point de vie: {{pokemon.hp}}</p>
                            <p>Dégâts: {{pokemon.cp}}</p>
                            <p><small>{{ pokemon.created | date:'dd/MM/yyyy' }}</small></p>
                            <!-- Utilisation du Pipes directives -->
                            <span *ngFor="let type of pokemon.types" 
                                class="{{ type | pokemonTypeColor }}">
                                {{ type}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<a 
    class="btn-floating btn-large waves-effect waves-light red z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"
    routerLink="/pokemons/pokemon-add"
>
 ➕
</a>



